/*   SOURCE UI   */
.regexr-source-canvas {
	position: absolute;
	background: $editor-bg;
}

.regexr-expr-editor {
  background-color: #fff;
	height: 2em;
}

/* Syntax highlighting */
.exp-char {
	color: black;
}

.exp-decorator {
	color: #b9babf;
	font-weight: bold;
}


.exp-related {
	border-bottom: solid 1px rgba(0, 0, 0, 0.22);
	border-top: solid 1px rgba(0, 0, 0, 0.22);
	margin-bottom: -1px;
	margin-top: -1px;
}

.exp-related-left {
	border-left: solid 1px rgba(0, 0, 0, 0.22);
	margin-left: -1px;
}

.exp-related-right {
	border-right: solid 1px rgba(0, 0, 0, 0.22);
	margin-right: -1px;
}

.exp-selected {
	border-top: solid 2px rgba(0, 0, 0, 0.33);
	border-bottom: solid 2px rgba(0, 0, 0, 0.33);
	margin-bottom: -2px;
	margin-top: -2px;
}

.exp-selected-left {
	border-left: solid 2px rgba(0, 0, 0, 0.33);
	margin-left: -2px;
}

.exp-selected-right {
	border-right: solid 2px rgba(0, 0, 0, 0.33);
	margin-right: -2px;
}

.exp-error {
	border-bottom: solid 2px $error-color;
}

.exp-esc {
	color: #C0C;
}

.exp-quant, .exp-lazy, .exp-alt {
	color: #35F;
}

.exp-anchor {
	color: #930;
}

.exp-group, .exp-backref, .exp-lookaround {
	color: #090;
}

.exp-charclass, .exp-set, .exp-subst {
	color: #D70;
}

.exp-group-0 { background: rgba($group-color, 0.11); }

.exp-group-1 { background: rgba($group-color, 0.22); }

.exp-group-2 { background: rgba($group-color, 0.33); }

.exp-group-3 { background: rgba($group-color, 0.44); }

.exp-group-set { background: rgba($set-color, 0.3); }
