@import "../node_modules/codemirror/lib/codemirror";

@import "../node_modules/regexr/scss/settings";
// Avoid need for extra fonts
$monospace-font: monaco, Consolas, "Lucida Console", monospace !default;
$monospace: $monospace-font;
.blah-blah {
  font-family: $monospace;
}

@import "./utilities";  // Excerpted utilties
@import "../node_modules/regexr/scss/tooltips";
@import "../node_modules/regexr/scss/codemirror";
@import "./docview";    // Excerpted docview
@import "./menus";      // Excerpted menus
@import "./tags";       // Excerpted tags
